<div class='row'>
  <div class='col-4'>
    <h2>Old Text</h2>
    <% if @texts 
      @texts.each do |text| %>
      <li><%= text.text %></li>
    <% end %>
  <% end %>
</div>
<div class='col'>
  <h2>Analysis</h2>
</div>
</div>
<div class='row'>
  <div class='col-4'>
    <h2>Enter Text 
      <%= form_with(model: @text, url: texts_create_path, local: true) do |f| %>
        <%= f.label :text %>
        <%= f.text_field :text %>
        <%= f.submit "Send" %>
      <% end %>
    </h2>
    <h4>Settings</h4>
  </div>
  <div class='col'>
    <h2>Suggestions</h2>
  </div>
</div>
